[tool.poetry]
name = "i21y"
version = "0.1.0b1"
description = "The library for i18n support."
authors = ["Takagi Tasuku <tasuren@outlook.jp>"]
license = "MIT"
readme = "README.md"
keywords = ["i18n"]
classifiers = [
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Internationalization",
    "Typing :: Typed"
]
packages = [{ include = "i21y", from = "src" }]
include = ["i21y/py.typed"]

[tool.poetry.urls]
Source = "https://github.com/tasuren/i21y"
Documentation = "https://i21y.readthedocs.io/"
Donate = "https://www.buymeacoffee.com/tasuren"
Chat = "https://discord.gg/kfMwZUyGFG"

[tool.poetry.dependencies]
python = "^3.10"
pyyaml = { version = "^6.0", optional = true }
orjson = { version = "^3.8.6", optional = true }

[tool.poetry.extras]
yaml = ["pyyaml"]
fast_json = ["orjson"]

[tool.poetry.group.docs.dependencies]
sphinx = "*"
sphinx-intl = "*"
myst-parser = "*"

[tool.poetry.group.test.dependencies]
pytest = "^7.1.2"
pyyaml = "^6.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"